@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face 
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --noir: #000;
    --beige : #e5efe6;
    --blanc : #ffffff;
    --taupe : #8e8d8a;
    --brun : #e8d5cc;
    --brunF : #bda18a;
}

body
{
    overflow-x: hidden;
    min-height: 2000px;
}

h3
{
    font-family: 'Dastin', sans-serif;
    text-align: center;
}

h4
{
    font-family: 'Dastin', sans-serif;
}

p
{
    font-family: 'Bodon Moda', serif !important;
    font-size: 1.5rem;
}

.BodoniFont
{
    font-family: 'Bodon Moda', serif;
}

.soinsDeSoieTitle
{
  height: 65em;
  width: 65em;
}

.mainTitles
{
  font-size: 3em;
  font-weight: 600;
  font-family: 'Dastin', sans-serif;
  color: var(--blanc);
}

nav
{
    height: 170px;
    font-size: 1.4em;
}

#logo2
{
    height: 10em;
    width: 10em;
}

/*Nav*/
.perso-navbar
{
    background-color: rgba(0, 0, 0, 0.50);
    font-family: 'Dastin', sans-serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.perso-navbar .nav-link
{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.perso-navbar .nav-link:hover
{
    padding-bottom: 20px;
    border-bottom-color: var(--blanc);
}
/*Nav END*/

/*Parallaxe*/
.banner 
{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), url(../img/banner/banner.jpeg) center center fixed no-repeat;
    background-size: cover;
    height: 1200px;
}

section .bannerTitle
{
    font-size: 6rem;
    font-family: 'Dastin', sans-serif;
    color: var(--beige);
}

.perso-menu
{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), url(../img/banner/fond1.jpeg) center center fixed no-repeat;
    background-size: cover;
    min-height: 2800px;
}

.card-bloc
{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/banner/fond2.jpeg) center center fixed no-repeat;
    background-size: cover;
    height: 1800px;
}
/*Parallaxe END*/


/*Section Qui sui-je ?*/
.sectionInstitut
{
    background-color: var(--blanc);
    min-height: 1200px;
}

.Bxl-Sicile {
  width: 100vw;
  height: 700px; /* ou 300px selon ton besoin */
  overflow: hidden;
}

.img-half {
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: cover; /* ou contain */
  transform: scale(1); /* dézoome à 90% */
  transform-origin: center;
}
/*Section Qui sui-je ? END*/

.card-img-top 
{
  object-fit: cover;
  height: 300px; /* Ajuste si besoin */
}

/*Section création*/
section .sectionCreationTitle
{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Dastin', sans-serif;
}


/*FooterMap*/
footer
{
    
}

#mapid 
{
    height: 300px;
    border-radius: 10px;
}
/*FooterMap END*/

/*Media queries*/

